<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Quiz</title>
    <style>
        td,th {
            padding: 0 10px;
        }
        .home_header {
    background-image: linear-gradient(to right, #1d6da7d6, #1d6da7);
    height:95vh;
    clip-path:polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
    .header_wrapper {
        height:100px;
        /*border-bottom:1px solid #d6d4d452;*/
        box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.2);
    }
    .header_wrapper div {
        display:flex;
        justify-content:space-between;
        align-items:center;
        max-width:1600px;
        margin:0 auto;
        height:100%;
    }
    .logo {
        margin:25px 25px;
        width:90px;
    }
    .navbar-toggler-icon {
            background-image: url("https://toppng.com/uploads/preview/hamburger-menue-11551049403lqwebrfbdx.png");
        }
    </style>
</head>
<body>
    <div id="quiz-page">
        <navigation active="Quiz" :username="user.username"></navigation>
        <div class="white-box p-3">
            <!-- <div class="d-flex">
                <button class="btn btn-primary" @click="showQuizForm = !showQuizForm">quiz formulier</button>
            </div> -->
            <div v-if="showQuizForm" class="col-8">
                <form class="form-group d-flex flex-wrap" method="POST">
                    <div class="col-lg-6 col-sm-12">
                        <label class="" for="quizTitle">Titel:</label>
                        <input type="text" id="quizTitle" value="test" class="form-control" v-model="quizTitleInput">
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <label for="quizDescription">Omschrijving:</label>
                        <textarea type="text" id="quizDescription" value="test" class="form-control" v-model="quizDescriptionInput"></textarea>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <label for="quizQuestion">Vraag:</label>
                        <input type="text" id="quizQuestion" value="test" class="form-control" v-model="quizQuestionInput">
                    </div>
                    <div class="col-lg-6  col-sm-12">
                        <label for="quizAnswer1">Antwoord 1:</label>
                        <input type="text" id="quizAnswer1" value="test" class="form-control" v-model="quizAnswer1Input">
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <label for="quizAnswer2">Antwoord 2:</label>
                        <input type="text" id="quizAnswer2" value="test" class="form-control" v-model="quizAnswer2Input">
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <label for="quizAnswer3">Antwoord 3</label>
                        <input type="text" id="quizAnswer3" value="test" class="form-control" v-model="quizAnswer3Input">
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <label for="quizAnswer4">Antwoord 4:</label>
                        <input type="text" id="quizAnswer4" value="test" class="form-control" v-model="quizAnswer4Input">
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <label for="quizCorrectAnswer">Correct antwoord</label>
                        <input type="text" id="quizCorrectAnswer" value="test" class="form-control" v-model="quizCorrectAnswerInput">
                    </div>
                    <div class="d-flex justify-content-end" style="width:100%;">
                        <input class="mt-3 btn btn-primary mr-4" type="submit" @click.prevent="createQuiz" />
                    </div>
                </form>
            </div>
            <div v-if="result" class="d-flex">
                <table>
                    <tr>
                        <th>quiz id</th>
                        <th>Quiz titel</th>
                        <th>omschrijving</th>
                        <th>vragen</th>
                        <th>Gemaakt door</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr v-for="(quiz, index) of result.quiz_list" :key="index">
                        <td>{{ quiz.id }}</td>
                        <td>{{ quiz.title }}</td>
                        <td>{{ quiz.description }}</td>
                        <td>{{ quiz.questions.length }}</td>
                        <td>{{ quiz.createdBy }}</td>
                        <td class="text-primary" @click="playQuiz(quiz.id)" style="cursor:pointer;"><i class="fa-solid fa-play"></i></td>
                        <td class="text-warning" style="cursor:pointer;" @click="editQuiz(quiz.id)"><i class="fa-solid fa-pen-to-square"></i></td>
                        <td class="text-danger" @click="deleteQuiz(quiz.id, index)" style="cursor:pointer;">X</td>

                    </tr>
                </table>
                
            </div>
        </div>
        <v-footer></v-footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script type="module" src="../vue/helpers/helpers.js"></script>
    <script type="module" src="../vue/quiz.js"></script>
    <script type="module" src="../vue/components/navbar.js"></script>
    <script type="module" src="../vue/components/footer.js"></script>
</body>
</html>